Body{
	Align-Items:		Center;
	Display:			Flex;
	Min-Height:			100vh;
	Justify-Content:	Center;
	Margin:				0;
}

Loading{
	Color:				#333333;
	Transform:			scale(1.5);
}
Loading > I{
	Color:				#0096FA;
	Margin-Right:		5px;
}

div.case-container {
  display: flex;
  flex-direction: column;
}

div.case.surgery {
  background-color: #AFDCFA;
}

div.case.clinical {
  background-color: rgb(255,211,169);
}